.svg-icon {
    color: red;
    display: none;
}
.svg-icon.s16 {
    width: 16px;
    height: 16px;
    color: white;
}
.svg-icon.s24 {
    width: 24px;
    height: 24px;
    color: white;
}
.svg-icon.s48 {
    width: 48px;
    height: 48px;
    color: white;
}
.svg-icon.s64 {
    width: 64px;
    height: 64px;
    color: white;
}