<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <md-dialog aria-label="Login" style="width: 500px;">

                <form name="loginForm" ng-submit="executaLogin()">

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Login</h2>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <md-input-container class="md-block">
                                <label>Email:</label>
                                <input ng-model="loginData.email" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Password:</label>
                                <input  ng-model="loginData.password" type="password" required>
                            </md-input-container>
                            <div layout="row" layout-wrap layout-margin layout-align="center" id="contentArea">
                                <span>{{loginData.status}}</span>
                            </div>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <span flex></span>
                        <md-button type="submit" class="md-primary"
                                   ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }"
                                   aria-label="Confirmar">
                            Confirmar
                        </md-button>
                        <md-button type="button" ng-click="cancelar()"
                                   aria-label="Cancelar">
                            Cancelar
                        </md-button>
                    </md-dialog-actions>

                </form>

            </md-dialog>
        </div>
    </body>
</html>
